nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
    color: rgb(243, 243, 243);
    background-color: rgb(38, 76, 102);
    font-weight: bold;
}

#content {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.project-container-style {
    display: flex;
    flex-direction: column;   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10%;
}

.project-title-style {
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    background-color: yellow;
    padding: 1em;
}

.add-project-style {
    color: white;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;
}

.to-do-style {
    margin: 1em;
}



