nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
    color: rgb(243, 243, 243);
    background-color: rgb(38, 76, 102);
    font-weight: bold;
}

#content {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.project-container-style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10%;
}

.project-title-style {
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(243, 243, 243);
    background-color: rgb(38, 76, 102);
    padding: 1em;
}

.to-do-style {
    display: flex;
    gap: 0.1em;
    margin: 1em;
}

.add-entry-style {
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
    color: white;
    background-color: darkred;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;   
    width: 100px;

}
.add-entry-style:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.add-project-style {
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    color: white;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;
}
.add-project-style:hover {
    filter: brightness(80%);
    cursor: pointer;
}



